<div class="kt-portlet__body">
    <div class="row">
        <div class="col-md-12">
            <i class="fa fa-trash-alt action-icon"></i>
            <i class="fa fa-cloud-download-alt action-icon"></i>
        </div>
    </div>
    <table class="table table-hover table-checkable" id="kt_table_1">
        <thead>
            <tr>
                <th>ID</th>
                <th>From</th>
                <th>Message</th>
                <th>Received</th>
                <th>To</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>mk kim</td>
                <td>Lorem ipsum dolor sit ame..</td>
                <td>3/20/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Soccer mom</td>
                <td>Hi</td>
                <td>3/18/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>andrew ahn</td>
                <td>Ok, I will</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Talok</td>
                <td>3050 Buell Terrace</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Tierney St. Louis</td>
                <td>Dicki-Kling</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Gerhard Reinhard</td>
                <td>Gleason, Kub and Marquardt</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Englebert Shelley</td>
                <td>Jenkins Inc</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Hazlett Kite</td>
                <td>Streich LLC</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Freida Morby</td>
                <td>Haley, Schamberger and Durgan</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Obed Helian</td>
                <td>Labadie, Predovic and Hammes</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Sibyl Amy</td>
                <td>Treutel-Ratke</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Norri Foldes</td>
                <td>Strosin, Nitzsche and Wisozk</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Myrna Orhtmann</td>
                <td>Miller-Schiller</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Sioux Kneath</td>
                <td>Rice, Cole and Spinka</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Christa Jacmar</td>
                <td>Brakus-Hansen</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Shandee Goracci</td>
                <td>Bergnaum, Thiel and Schuppe</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Jerrome Colvie</td>
                <td>Kreiger, Glover and Connelly</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Michaelina Plenderleith</td>
                <td>Legros-Gleichner</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Lombard Luthwood</td>
                <td>Haag LLC</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Leonora Chevin</td>
                <td>Mann LLC</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Tannie Seakes</td>
                <td>Blanda Group</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Yardley Wetherell</td>
                <td>Gerlach-Schultz</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Bryn Peascod</td>
                <td>Larkin and Sons</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Chrissie Jeromson</td>
                <td>Brakus-McCullough</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Gusti Clamp</td>
                <td>Stokes Group</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Otis Jobbins</td>
                <td>Ruecker, Leffler and Abshire</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Lonnie Haycox</td>
                <td>Feest Group</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Heddi Castelli</td>
                <td>Kessler and Sons</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Tuck O'Dowgaine</td>
                <td>Simonis, Rowe and Davis</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Vernon Cosham</td>
                <td>Kreiger-Nicolas</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Bryna MacCracken</td>
                <td>Hyatt-Witting</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Freda Arnall</td>
                <td>Dicki, Morar and Stiedemann</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Pavel Kringe</td>
                <td>Goldner-Lehner</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Felix Nazaret</td>
                <td>Waters, Quigley and Keeling</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Penrod Allanby</td>
                <td>Rodriguez Group</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Hubey Passby</td>
                <td>Lemke-Hermiston</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Magdaia Rotlauf</td>
                <td>Hettinger, Medhurst and Heaney</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Alfonse Lawrance</td>
                <td>Schuppe-Harber</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Kessiah Chettoe</td>
                <td>Mraz LLC</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Natka Fairbanks</td>
                <td>Mueller-Greenholt</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Shaw Puvia</td>
                <td>Veum LLC</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Alden Dingate</td>
                <td>Heidenreich Inc</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Cherish Peplay</td>
                <td>McCullough-Gibson</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Nedi Swetman</td>
                <td>Gerhold Inc</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Ashley Blick</td>
                <td>Cummings-Goodwin</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Saunders Harmant</td>
                <td>O'Kon-Wiegand</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Mellisa Laurencot</td>
                <td>Jacobs Group</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Orland Myderscough</td>
                <td>Gutkowski Inc</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Devi Iglesias</td>
                <td>Ullrich-Dibbert</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Bliss Tummasutti</td>
                <td>Legros-Cummings</td>
                <td>3/10/2019 08:22pm</td>
                <td>425-681-0465</td>
                <td nowrap></td>
            </tr>
        </tbody>
    </table>
</div>
